<h4>Lookup a Crypto</h4>

<%= form_tag home_lookup_path, :method => 'POST' do %>
  <%= text_field_tag 'id', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
  <%= submit_tag 'Lookup Stock Quote' %>
<% end %>